# API externa
RAPIDAPI_KEY=your_api_key_here

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRATION=3600000

# Base de datos Auth
AUTH_DB_URL=jdbc:postgresql://localhost:5433/auth_db
AUTH_DB_USER=admin
AUTH_DB_PASSWORD=admin123

# Base de datos Notifications
NOTIFICATIONS_DB_URL=jdbc:postgresql://localhost:5434/notifications_db
NOTIFICATIONS_DB_USER=admin
NOTIFICATIONS_DB_PASSWORD=admin123

# URLs internas de microservicios
AUTH_SERVICE_URL=http://ms-auth:8081
LEAGUES_SERVICE_URL=http://ms-leagues:8082
TEAMS_SERVICE_URL=http://ms-teams:8083
FIXTURES_SERVICE_URL=http://ms-fixtures:8085
STANDINGS_SERVICE_URL=http://ms-standings:8086
NOTIFICATIONS_SERVICE_URL=http://ms-notifications:8088
DASHBOARD_SERVICE_URL=http://ms-dashboard:8089