# API-Football (RapidAPI) — https://rapidapi.com/api-sports/api/api-football
RAPIDAPI_KEY=8b692adcfdb7fbf3b875239747950299

# JWT Secret — Clave compartida entre todos los microservicios
JWT_SECRET=sportpulse-secret-key-change-this-in-production

# (Opcional) Ajustar tiempo de expiración del token JWT en milisegundos (default: 3600000 = 1 hora)
# JWT_EXPIRATION=3600000
